.home-div{
padding-top: 58px;
    width: 100%;
    height: 86vh;
}
.form-control{

      border: linear-gradient(135deg, #a8edea 0%, #0066ff 100%);

}
#button-addon2{
     background: linear-gradient(135deg, #a8edea 0%, #0066ff 100%);


}
#button-addon2:hover{
  background: linear-gradient(135deg, #a8edea 0%, #0066ff 100%);

    color: white;
}
.card{
     background: linear-gradient(135deg, #a8edea 0%, #0066ff 100%);
    max-width: auto;
    min-height: 5%;
    overflow-y: auto;
}

.sidbar{
height: 92vh;
border: 2px solid rgb(46, 179, 240);
border-radius: 2%;
width: 22%;
overflow-y: auto;
margin-left: -4px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
abbr[title] {
  text-decoration: none !important;
  border-bottom: none !important;
}