*{
    padding: 0%;
    margin: 0%  ;

}
.column-card-head{
padding: 30px;
   width: 99vw;
   margin-top: 10px;
   height: auto;
   margin-bottom: 10%;
}
.btn-group{

    height: 44px;
}
.head-div{
    width: 95vw;
    margin-top: 100px;
    padding-left: 8%;

}
.cart-image{

    margin-top: -10px;

}@media(max-width: 863px){

    .head-div{
padding-left:4%
    }
}