
.banner-div{

    width:99vw ;
    height: 99vh;
padding:62px 0px;
padding-left: 0px;
display: flex;
flex-direction: column;
gap: 88px;
}
.banner{
    margin-top: -1%;
    width: 100%;
    height: auto;
    padding-right: -10px;
    border-radius: 8px;
}
.carousel{
  padding: 0%;
}